{
  "openapi": "3.1.0",
  "info": {
    "title": "Blogs Feed API",
    "version": "v1",
    "description": "Free unauthenticated read-only feeds for published articles on https://blogs.tirup.in by Tirup Mehta. The /api/* routes on that host require admin session and are intentionally not part of this public description.",
    "license": {
      "name": "All rights reserved (feed content)",
      "url": "https://blogs.tirup.in/about"
    }
  },
  "servers": [
    {
      "url": "https://blogs.tirup.in",
      "description": "Production"
    }
  ],
  "paths": {
    "/rss.xml": {
      "get": {
        "summary": "RSS 2.0 feed of published articles",
        "description": "Up to 50 most recent published posts, newest first. No authentication. Alias: /feed.xml.",
        "responses": {
          "200": {
            "description": "RSS 2.0 XML document.",
            "content": {
              "application/rss+xml": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/feed.xml": {
      "get": {
        "summary": "RSS 2.0 feed alias",
        "description": "Same document as /rss.xml.",
        "responses": {
          "200": {
            "description": "RSS 2.0 XML document.",
            "content": {
              "application/rss+xml": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "summary": "Sitemap of published articles",
        "description": "Machine-readable list of canonical article URLs for crawlers.",
        "responses": {
          "200": {
            "description": "Sitemap XML document.",
            "content": {
              "application/xml": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}
